body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.shadow{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

a {
    color: black;
    text-decoration: none;
}

.App {
    text-align: left;
}

.form-control {
    display: block;
    border-inline: none;
    border-top: none;
}

button{
    border: none;
}

.point{
    color: #607d8b!important;
    font-size: 18px;

}
